@import '../Styles/clean.less';
@import '../Styles/common.less';
@import '../Styles/media.less';

.footer {
    display: flex;
    flex-direction: column;
    font-family: lato;
    padding: 3em 1em;
    background-color: #3f3f3f;
    color: white;

    .information-container {
        display: flex;
        .Laptop({
            flex-direction: column;
        });
    }
    .legality-container {
        display: flex;
        justify-content: center;
    }
    .general-information {
        margin-right: auto;
        .Laptop({
            margin-bottom: 3em;
        });

        & li {
            padding: .5em 0;
        }

        & h4 {
            font-size: 19px;
            font-weight: 700;
            line-height: 1.2;
            text-transform: uppercase;
            margin-bottom: .5em;
        }

        & a {
            color: white;
            font-size: 14px;
            line-height: 1.5;
        }
    }
    .legality {
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
       margin-top: 1em;

       & p {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
           &:first-child {
            margin-bottom: 1em;
           }
       }

       & a {
        color: white;
        text-decoration: underline;
       }
    }
    .social-networks {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        .Laptop({
            margin-right: auto;
            margin-left: unset;
        });

        .btn-white {
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: normal;
            font-size: 14px;
            font-weight: 400;
            background-color: white;
            color: #3f3f3f;

            & i {
                width: 24px;
                height: 24px;
                margin-right: .5em;
            }

            & svg {
                fill: #3f3f3f;
            }
        }

        & ul {
            display: flex;
            justify-content: flex-end;
            margin-top: 1.5em;
            .Laptop({
                justify-content: flex-start;
            });

            & li {
                margin-right: .5em;

                &:last-child {
                    margin-right: 0;
                }
            }

            & svg {
                height: 36px;
                width: 36px;
                fill: white;
            }
        }
    }
}
