h1 h2 h3 h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    cursor: pointer;
    padding: .6em 1em;
    transition: background-color .15s;
    font-family: pfbeausans, Arial, 'sans-serif';
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    border-radius: .2em;
}

.btn-secondary {
    color: white;
    background-color: #4d833f;
    border: 1px solid #4d833f;

    &:hover &:focus {
        background-color: #3e6933;
        border-color: #39612e;
    }
}

.single-banner {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 1.5em;
    border: 1px solid #f3f3f3;
    font-family: pfbeausans, Arial, 'sans-serif';

    .info-container {
        width: 33%;
        background-color: rgba(255,255,255,.9);
    }

    .information {
        padding: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h3 {
            text-align: center;
            margin-bottom: .4em;
            font-size: 1.2rem;
            font-weight: 400;
        }
        & p {
            text-align: center;
        }
        & a {
            margin-top: 1em;
        }
    }
}

.align-right {
    justify-content: flex-end;
}

.align-left {
    justify-content: flex-start;
}

